#computacion{
    margin-top: 100px;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url(../imagenes/fondo.computacion.png);
    color: black;

}
#celulares{
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url(../imagenes/fondo-celulares.png);
    color:black;
}
#perifericos{
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlSdvQIuWnVa2WyrcAxDBuKacHMINvZ7ljRw&usqp=CAU);
    color:black;
}

#electrodomesticos{
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3P4mrlSEC7ny6nQIVhS-6a2aSRca44SavUw&usqp=CAU);
    color: black;
}

.contenedor-computacion, .contenedor-celulares, .contenedor-perifericos, .contenedor-electrodomesticos{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

img{
    width: 290px;
    height: 250px;
    padding:5px;
    margin:20px ;
    text-align: center;
    object-fit:contain;
   
}

img:hover{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

article{
   width: 280px;
    text-align: center;
    margin: 15px;
    padding: 10px;
}

h3{

 font-size: 2em;
    font-weight: bolder;
}
h3,h4{
text-align: center;

}

@media(max-width:728px){      
    #computacion{
        margin-top: 150px;
    }
}
@media(max-width:513px){
    #computacion{
        margin-top: 210px;
    }
}
@media(max-width:340px){
    #computacion{
        margin-top: 250px;
    }
}