@import url('https://fonts.googleapis.com/css2? family= Joan & display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Joan', serif;
}

body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header {
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    color: rgb(14, 168, 60);

}

header .contenedor {
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    background-color: beige;
}

header h1 {

    font-size: 3em;
}

header p {
    font-size: 2em;
}

section {
    padding-bottom: 20px;
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

.parallax {
    background: white fixed no-repeat 50% 50%;
    background-size: cover;
}